
<p-table [value]="songs"
         [columns]="cols"
         selectionMode="single"
         [(selection)]="selectedSong"
         (onRowSelect)="getSong($event)"
         [responsive]="true"
         dataKey="id"
         #dt
>

  <ng-template pTemplate="caption">
    PARTITIONS
  </ng-template>

  <ng-template pTemplate="colgroup">
    <colgroup style="width:70%"></colgroup>
    <colgroup style="width:20%"></colgroup>
    <colgroup style="width:10%"></colgroup>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>

      <th>Titres</th>
      <th >Compositeurs</th>
      <th>Extensions</th>
    </tr>

    <tr>
      <th>
        <input style="width:100%;" placeholder="rechercher un titre..." pInputText type="text" (input)="dt.filter($event.target.value, 'title', 'contains')">
      </th>
      <th>
        <input style="width:100%;" placeholder="rechercher un compositeur..." pInputText type="text" (input)="dt.filter($event.target.value, 'compositor', 'contains')">
      </th>

      <th>

      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">

      <td>
        <i class="fas fa-music  margin-right-15" aria-hidden="true"></i>{{rowData.title | uppercase}}</td>
      <td><cite>{{rowData.compositor | uppercase}}</cite></td>

      <td>
        {{rowData.extension}}
      </td>

    </tr>
  </ng-template>

</p-table>

