<p-table [value]="songs"
         selectionMode="single"
         [(selection)]="selectedSong"
         (onRowSelect)="getSong($event)"
         dataKey="id"
>

  <ng-template pTemplate="caption">
    PARTITIONS
  </ng-template>

  <ng-template pTemplate="colgroup">
    <colgroup style="width:70%"></colgroup>
    <colgroup style="width:20%"></colgroup>
    <colgroup style="width:10%"></colgroup>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>

      <th>Titres</th>
      <th >Compositeurs</th>
      <th>Extensions</th>

    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">

      <td>
        <i class="fa fa-music  margin-right-15" aria-hidden="true"></i>{{rowData.title | uppercase}}</td>
      <td><cite>{{rowData.compositor | uppercase}}</cite></td>

      <td>
        {{rowData.extension}}
      </td>

    </tr>
  </ng-template>

</p-table>

