


<div *ngFor="let feed of feeds">

  <div class="row featurette bgwhite cg-featurette">
    <table>
      <thead>
      <th><h2 class="featurette-heading">{{feed.title}}</h2></th>
      </thead>
      <tr>
        <td><img *ngIf="feed.photoEnabled"
                 src="api/files/get/feeds/jpg/{{feed.id}}"
                 class="{{feed.imagePosition}} width-{{feed.imageWidth}} img-thumbnail"
                 title="{{feed.imageTitle}}">
          <p [innerHTML]="feed.content | sanitizeHTML" class="lead"></p></td>
      </tr>
      <tr>
        <td><p class="cg-footer-right">{{feed.author === ''? '' : feed.author+', '}} le {{feed.creationDate | date: 'EEEE dd MMMM yyyy'}}</p></td>
      </tr>
    </table>
  </div>
</div>
