{{selectedMP3}}


<!--
<form [formGroup]="mp3Form" (ngSubmit)="onSubmit()">
  <div class="ui-grid ui-grid-responsive ui-fluid">

    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label for="type">Activer une musique de fond*</label></div>
      <div class="ui-grid-col-6" id="type">
        <p-dropdown [options]="types" formControlName="type" [style]="{'width':'150px'}"
                    [required]="true"></p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label for="top">Top*</label></div>
      <div class="ui-grid-col-6" id="top">
        <p-listbox [options]="mp3s" [(ngModel)]="selectedMP3"></p-listbox>
      </div>
    </div>

    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="submit" [disabled]="!feedForm.valid" pButton icon="fa-check"
                label="Enregistrer"></button>
        <button type="button" [disabled]="newFeed" pButton icon="fa-close" (click)="delete()"
                label="Supprimer"></button>
      </div>
    </footer>
</form>
-->
