

.item-menu:hover{
  background-color: #514fff;
  color:white;
}

.item-menu{
  background-color: white;
  color:black;
  cursor:pointer;
  padding:0.5rem;

}

.active-menu{
  background-color: #ff5956;
  color:white;
}

.fixed{
  position: fixed;
  width:100%;
  z-index: 999;
}

.main{
  margin-top:125px;

}

.logo{
  animation-duration: 3s;
}

