

<p-dataView [value]="feeds" layout="grid">

  <p-header>

    <div class="row">
      <div class="col-md-6">
        LES CHORISTES
      </div>

    </div>


  </p-header>




  <ng-template let-feed pTemplate="gridItem">
    <div style="padding:3px" class="ui-g-12 ui-md-3">
      <p-panel [header]="feed.title" [style]="{'text-align':'center'}">
        <img src="api/files/get/feeds/jpg/{{feed.id}}">
      </p-panel>
    </div>
  </ng-template>


</p-dataView>


<!--<header>-->
<!--Choristes-->
<!--</header>-->
<!--<template let-feed>-->
<!--<div style="padding:3px" class="ui-g-12 ui-md-3">-->
<!--<p-panel [header]="feed.title" [style]="{'text-align':'center'}">-->
<!--<img src="api/files/get/feeds/jpg/{{feed.id}}">-->
<!--</p-panel>-->
<!--</div>-->
<!--</template>-->
<!--</p-dataView>-->


<!--<p-dataGrid [value]="feeds" [paginator]="true" [rows]="50">-->
<!--<header>-->
<!--Choristes-->
<!--</header>-->
<!--<template let-feed>-->
<!--<div style="padding:3px" class="ui-g-12 ui-md-3">-->
<!--<p-panel [header]="feed.title" [style]="{'text-align':'center'}">-->
<!--<img src="api/files/get/feeds/jpg/{{feed.id}}">-->
<!--</p-panel>-->
<!--</div>-->
<!--</template>-->
<!--</p-dataGrid>-->
