spring:
  jpa:
    show-sql: true
    hibernate.ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL5Dialect
  datasource:
    url: jdbc:mysql://mysql:{port}/{database}
    username:
    password:
    driverClassName: com.mysql.jdbc.Driver
    tomcat:
      # Number of ms to wait before throwing an exception if no connection is available.
      max-wait: 10000
      # Maximum number of active connections that can be allocated from this pool at the same time.
      max-active: 50
      # Validate the connection before borrowing it from the pool.
      test-on-borrow: true

  http:
    multipart.max-file-size: 12800KB
    multipart.max-request-size: 12800KB

server:
  context-path: /api

jwt:
  header: Authorization
  secret: secret
  expiration: 604800
  route:
    authentication:
      path: auth
      refresh: refresh

management:
  add-application-context-header: false
