<form [formGroup]="cssForm" (ngSubmit)="onSubmit()">
  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label for="bgPhoto">Fond d'écran</label></div>
      <div class="ui-grid-col-6">
        <input type="file" (change)="fileChangeBg($event)" placeholder="Upload file"
               accept=".jpg" name="bgPhoto" id="bgPhoto" formControlName="bgPhoto">
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label for="audioFile">Musique de fond</label></div>
      <div class="ui-grid-col-6">
        <input type="file" (change)="fileChangeAudio($event)" placeholder="Upload file"
               accept=".mp3" name="audioFile" id="audioFile" formControlName="audioFile">
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2"><label for="audioEnabled">Activer la musique de fond</label></div>
      <div class="ui-grid-col-6" id="audioEnabled">
        <p-inputSwitch formControlName="audioEnabled"></p-inputSwitch>
      </div>
    </div>
    <!--<div class="ui-grid-row">-->
      <!--<div class="ui-grid-col-2"><label for="themes">Thèmes</label></div>-->
      <!--<div class="ui-grid-col-6" id="themes">-->
        <!--<p-dropdown [options]="themes" formControlName="themes" [style]="{'width':'150px'}"-->
                   <!--&gt;</p-dropdown>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="submit" [disabled]="!cssForm.valid" pButton icon="fas fa-check"
              label="Enregistrer"></button>
    </div>
  </footer>
</form>
