<p-table [value]="feeds"
         [columns]="cols"
         selectionMode="single" [(selection)]="selectedFeed"
         (onRowSelect)="onRowSelect($event)"
         [responsive]="true"
         [loading]="utils.loading"
         #dt>

  <ng-template pTemplate="caption">
    <div class="text-left">

      <span class="margin-right-5">
        <button type="button" pButton icon="fas fa-plus"
                pTooltip="Ajouter un article"
                showDelay="500"
                (click)="showDialogToAdd()"
                ></button>
        </span>
      GESTION DES ARTICLES
    </div>


  </ng-template>

  <ng-template pTemplate="colgroup">
    <colgroup style="width:15%;"></colgroup>
    <colgroup style="width:30%;"></colgroup>
    <colgroup style="width:20%;"></colgroup>
    <colgroup style="width:15%;"></colgroup>
    <colgroup style="width:10%;"></colgroup>
    <colgroup style="width:10%;"></colgroup>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'type'">Type
        <p-sortIcon [field]="'type'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'title'">Titre
        <p-sortIcon [field]="'title'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'author'">Auteur
        <p-sortIcon [field]="'author'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'creationDate'">Date
        <p-sortIcon [field]="'creationDate'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'top'">Top
        <p-sortIcon [field]="'top'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'id'">Id
        <p-sortIcon [field]="'id'"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th>

      </th>
      <th>
        <input style="width:90%;" placeholder="rechercher un titre..." pInputText type="text"
               (input)="dt.filter($event.target.value, 'title', 'contains')">

      </th>
      <th>
        <input style="width:90%;" placeholder="rechercher un auteur..." pInputText type="text"
               (input)="dt.filter($event.target.value, 'author', 'contains')">
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr  [pSelectableRow]="rowData" >
      <td>
        {{getTypeLabel(rowData.type)}}
      </td>
      <td>
        {{rowData.title}}
      </td>
      <td>
        {{rowData.author}}
      </td>
      <td>
        {{rowData.creationDate | date:'dd/MM/yy' }}
      </td>
      <td>
        <ng-container *ngIf="rowData.top">
          <i class="fas fa-check"></i>
        </ng-container>
        <ng-container *ngIf="!rowData.top">
          <i class="fas fa-times"></i>
        </ng-container>

      </td>
      <td>
        {{rowData.id }}
      </td>
    </tr>
  </ng-template>

</p-table>



<p-dialog header="Propriétés de l'article" [responsive]="false" [(visible)]="displayDialog"
          [dismissableMask]="true"
          [maximizable]="true"
          showEffect="fade"
          [modal]="true" [style]="{'width':'800px'}">



  <form [formGroup]="feedForm" (ngSubmit)="onSubmit()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label for="type">Type*</label></div>
        <div class="ui-grid-col-6" id="type">
          <p-dropdown [options]="types" formControlName="type" [style]="{'width':'150px'}"
                      [required]="true"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="!feedForm.controls['type'].valid && feedForm.controls['type'].dirty">
            <i class="fa fa-close"></i>
            Le type est obligatoire.
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label for="top">Top position*</label></div>
        <div class="ui-grid-col-6" id="top">
          <p-inputSwitch formControlName="top"></p-inputSwitch>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label for="title">Titre*</label></div>
        <div class="ui-grid-col-6"><input type="text" pInputText name="title" id="title"
                                          formControlName="title"/></div>
        <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="!feedForm.controls['title'].valid && feedForm.controls['title'].dirty">
            <i class="fa fa-close"></i>
            Le titre est obligatoire.
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label for="content">Contenu</label></div>
        <div class="ui-grid-col-10" id="content">
          <p-editor formControlName="content" [style]="{'height':'150px'}"></p-editor>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label for="author">Auteur</label></div>
        <div class="ui-grid-col-6"><input type="text" pInputText name="author" id="author"
                                          formControlName="author"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label for="creationDate">Date de création*</label></div>
        <div class="ui-grid-col-6" id="creationDate">
          <p-calendar formControlName="creationDate" [monthNavigator]="true" [yearNavigator]="true"
                      yearRange="1900:2030" [locale]="fr" [inline]="false" [showIcon]="true" dateFormat="dd/mm/yy"
                      readonlyInput="true"></p-calendar>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label for="feedFile">Photo</label></div>
        <div class="ui-grid-col-6">
          <input type="file" (change)="fileChange($event)" placeholder="Upload file"
                 accept=".jpg" name="feedFile" id="feedFile" formControlName="feedFile">
        </div>
        <div class="ui-grid-col-4">
          <div class="ui-message ui-messages-error ui-corner-all"
               *ngIf="!feedForm.controls['feedFile'].valid && feedForm.controls['feedFile'].dirty">
            <i class="fa fa-close"></i>
            Ajoutez une photo
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label for="photoEnabled">Activer la photo</label></div>
        <div class="ui-grid-col-6" id="photoEnabled">
          <p-inputSwitch formControlName="photoEnabled"></p-inputSwitch>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label for="imageWidth">Largeur de la photo*</label></div>
        <div class="ui-grid-col-8" id="imageWidth">
          <p-dropdown [options]="photoWidths" formControlName="imageWidth" [style]="{'width':'150px'}"
                      [required]="true"></p-dropdown>
          <div class="ui-grid-col-2">
            <div class="ui-message ui-messages-error ui-corner-all"
                 *ngIf="!feedForm.controls['imageWidth'].valid && feedForm.controls['imageWidth'].dirty">
              <i class="fa fa-close"></i>
              La largeur de la photo est obligatoire.
            </div>
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label for="imagePosition">Position de la photo*</label></div>
        <div class="ui-grid-col-6" id="imagePosition">
          <p-radioButton name="groupposition" value="left" label="gauche"
                         formControlName="imagePosition"></p-radioButton>
          <p-radioButton name="groupposition" value="right" label="droite"
                         formControlName="imagePosition"></p-radioButton>
        </div>
      </div>

    </div>
    <footer>
      <div class="row">
        <div class="col-md-12 text-right">
        <span class="margin-right-5">
        <button type="submit" [disabled]="!feedForm.valid" pButton icon="fas fa-check"
                label="Enregistrer"></button>
          </span>
        <span class="margin-right-5">
        <button type="button" [disabled]="newFeed" pButton icon="fas fa-times" (click)="delete()"
                label="Supprimer"></button>
        </span>
      </div>
      </div>
    </footer>
  </form>

</p-dialog>
